body {
  background: #F0EBE3;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.App-header {
  text-align: center;
  margin: 30px auto;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
 color: #576F72;
}
.App-footer {
  text-align: center;
  margin: 30px auto;
}