.Dictionary input {
    width: 100%;
    border-radius: 6px;
    padding: 6px 4px;
    color: #333;
    border: 1px solid #ddd;
}

.Dictionary .search {
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    margin: 20px 0;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}